.accordion-container {
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.accordion-container::--webkit-scrollbar {
    padding: 10px;
    overflow: scroll;
    display: none;
}
.MuiAccordion-region {
    background: darkslategrey;
}